@import 'tailwindcss';
@import 'tw-animate-css';

@variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}
@plugin "tailwindcss/plugin" {
  --tw-font-sans: 'Geist', 'Geist Fallback';
  --tw-font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --tw-colors-background: var(--background);
  --tw-colors-foreground: var(--foreground);
  --tw-colors-card: var(--card);
  --tw-colors-card-foreground: var(--card-foreground);
  --tw-colors-popover: var(--popover);
  --tw-colors-popover-foreground: var(--popover-foreground);
  --tw-colors-primary: var(--primary);
  --tw-colors-primary-foreground: var(--primary-foreground);
  --tw-colors-secondary: var(--secondary);
  --tw-colors-secondary-foreground: var(--secondary-foreground);
  --tw-colors-muted: var(--muted);
  --tw-colors-muted-foreground: var(--muted-foreground);
  --tw-colors-accent: var(--accent);
  --tw-colors-accent-foreground: var(--accent-foreground);
  --tw-colors-destructive: var(--destructive);
  --tw-colors-destructive-foreground: var(--destructive-foreground);
  --tw-colors-border: var(--border);
  --tw-colors-input: var(--input);
  --tw-colors-ring: var(--ring);
  --tw-colors-chart-1: var(--chart-1);
  --tw-colors-chart-2: var(--chart-2);
  --tw-colors-chart-3: var(--chart-3);
  --tw-colors-chart-4: var(--chart-4);
  --tw-colors-chart-5: var(--chart-5);
  --tw-radius: 0.5rem;
  --tw-colors-sidebar-background: var(--sidebar-background);
  --tw-colors-sidebar-foreground: var(--sidebar-foreground);
  --tw-colors-sidebar-primary: var(--sidebar-primary);
  --tw-colors-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --tw-colors-sidebar-accent: var(--sidebar-accent);
  --tw-colors-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --tw-colors-sidebar-border: var(--sidebar-border);
  --tw-colors-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: color-mix(in oklab, var(--ring) 50%, transparent);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
